.root{
    /*-fx-background-color: #3E909E;*/
    -fx-background-color: #bae1ff;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-font-size: 12pt;
}

#main-title{
    -fx-font-size: 32pt;
    -fx-font-style: bold;
    -fx-padding: 50px;
    /*-fx-effect: dropshadow(gaussian, black, 10, 0.5, 6, 2);*/
}

#newitem-hbox{
    -fx-padding: 100px;
}